@font-face {font-family:"Kreon-Bold"; src: url(fonts/Kreon-Bold.ttf) format('truetype');}

@font-face {font-family:"Kreon-Light"; src: url(fonts/Kreon-Light.ttf) format('truetype');}

@font-face {font-family:"Kreon-Regular"; src: url(fonts/Kreon-Regular.ttf) format('truetype');}

@font-face {font-family:"Droid Serif"; src: url(fonts/DroidSerif-Bold.ttf) format('truetype');}

@font-face {font-family:"Droid Serif Bold Italic"; src: url(fonts/DroidSerif-BoldItalic.ttf) format('truetype');}

@font-face {font-family:"Droid Serif Italic"; src: url(fonts/DroidSerif-Italic.ttf) format('truetype');}

@font-face {font-family:"Droid Serif"; src: url(fonts/DroidSerif.ttf) format('truetype');}

@font-face {font-family:"Droid Sans"; src: url(fonts/DroidSans.ttf) format('truetype');}

@font-face {font-family:"Droid Sans"; src: url(fonts/DroidSans-Bold.ttf) format('truetype');}

@font-face {font-family:"Grace"; src: url(fonts/CoveredByYourGrace.ttf) format('truetype');}

@font-face {font-family:"Lato-LightItalic"; src: url(fonts/Lato-LightItalic.ttf) format('truetype');}

@font-face {font-family:"Lato-Light"; src: url(fonts/Lato-Light.ttf) format('truetype');}

@font-face {font-family:"Lato-Italic"; src: url(fonts/Lato-Italic.ttf) format('truetype');}


body {
  background-color: #F3F3F3;
  height: auto;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

a:link {
  text-decoration: none;
  font-color: #363c46;
}

a:active {
  text-decoration: none;
  font-color: #d88f32;
}

p {
  margin: 10px 0;
}

dd {
  padding-bottom: 15px;
}

dd:active {
  font-color: #d88f32;
}

#top {
  margin-left: 42px;
}

#grey {
  float:left;
  position:fixed;
  background:#E6E6E6;
  background-image: url(images/nav-stripes.jpg);
  background-repeat:repeat-y;
  width:242px;
  top:0px;
  left:35px;
  height:100%;
  z-index:2;
  
}

    
#black {
  float:left;
  position:fixed;
  background-image: url(images/sidefold.png);
  background-repeat:repeat-y;
  width:35px;
  top:0px;
  left:0px;
  height:100%;
  z-index:1;

}

#side {
  position:absolute;
  top: 0;
  left: -27px;
  bottom: 0;
  width:306px;
  z-index:3;
  overflow-y: auto;
  overflow-x: hidden;
}

#side dt{
  left:-200px;
}

#side dt a:link, #side dt a:visited {
  
  display: inline-block;
  height: 25px;
  text-decoration: none;
  background-image:url(images/orange_banner_medium.png);
  background-repeat:no-repeat;
}

#side dt a:link, #side dt a:hover {
  width: 255px;
  background-image:url(images/navy_banner_medium.png);
  display: inline-block;
  height: 25px;
  padding-top:17px;
  padding-bottom:25px;
  padding-left:23px;
  padding-right:80px;
  text-decoration: none;
}

#side dt.open a:link, #side dt.open a:hover {
  background-image:url(images/orange_banner_medium.png);
}

#side a {
   text-decoration:none;
   font-color: #F3F3F3;
}

#side a:active {
  font-color: #d88f32;
}

#side li{
  list-style:none;
}

#side li:active {
  font-color: #d88f32;
}

#side block-section {
  display: block;
  text-align: left;
  width: 242px;
  height: 28px;
  padding-left: 37px;
  padding-top: 15px;
}

#side block-section-lfw {
  display: block;
  text-align: left;
  width: 242px;
  height: 28px;
  padding-left: 37px;
  padding-top: 15px;
  padding-bottom: 20px;
}

#side block-section-lfw:active {
  display: block;
  text-align: left;
  font-color: #d88f32;
  width: 242px;
  height: 28px;
  padding-left: 37px;
  padding-top: 15px;
  padding-bottom: 20px;
}

#side block-section:active {
  display: block;
  text-align: left;
  font-color: #d88f32;
  width: 242px;
  height: 28px;
  padding-left: 37px;
  padding-top: 15px;
}

.footer {
  width: 250px;
  font-family: "Droid Sans";
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  text-align: left;
  word-spacing: 3px;
  text-shadow: 0px 1px 0px #fff;
  padding-top: 25px;
  padding-left: 40px;
}

.social {
  display: block;
  width: 245px;
  height: 32px;
  float: left;
  padding-top: 15px;
  padding-left: 40px;
}

.twitter-follow {
  display: block;
  width: 220px;
  float: left;
  padding-top: 15px;
  padding-left: 40px;
  margin-bottom: 15px;
}

.twitter-tweet {
  display: block;
  width: 220px;
  float: left;
  padding-left: 40px;
  margin-bottom: 15px;
}

.fb-root {
  display: block;
  width: 220px;
  height: auto;
  left: 50px;
  margin-bottom: 40px;
  
}

#icons {
  display: block;
  float: left;
  width: 15px;
  height: 32px;
  padding-right: 20px;
  padding-bottom: 40px;
}

span.sections {
  font-family: "Droid Sans";
  font-weight: normal;
  font-style: normal;
  font-size: 19px;
  word-spacing: -3px;
  letter-spacing: -1px;
  color: #8a8a8a;
  text-align: left;
  line-height: 18px;
  text-shadow: 0px 1px 0px #fff;
}

span.sections:active {
  font-family: "Droid Sans";
  font-weight: normal;
  font-style: normal;
  font-size: 19px;
  word-spacing: -3px;
  color: #d88f32;
  text-align: left;
  text-shadow: 0px 1px 0px #fff;
}

span.sidebar-bottom-tab {
  font-family: "Droid Sans";
  font-weight: normal;
  font-style: normal;
  font-size:14px;
}
span.sidebar-chapters {
  font-family: "Droid Sans";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #F3F3F3;
  text-shadow: 0px 1px 0px #363c46;
  
}

span.sidebar-chapters:active {
  font-family: "Droid Sans";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #d88f32;
  text-shadow: 0px 1px 0px #363c46;
  
}

span.sidebar-chapters li{
    cell-padding:10px;
}


span.sidebar-menu-sections {
  font-family: "Droid Sans";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;  
  color: #363C46;
  text-decoration:none;
  line-height: 35px;
}

span.sidebar-subsection-names- {
  font-family: "Droid Sans";
  font-weight: normal;
  font-size: 14px;
  padding-right: 10px;
  color: #363c46;
  text-shadow: 0px 1px 0px #fff;
}

span.sidebar-subsection-names-:active {
  font-family: "Droid Sans";
  font-weight: normal;
  font-size: 14px;
  padding-right: 10px;
  color: #d88f32;
  text-shadow: 0px 1px 0px #fff;
}

span.sidebar-footer- {
  font-family: "Droid Sans";
  font-weight: normal;
  font-size: 14px;
  color: #363c46;
  line-height: 40px;
  
}

span.sidebar-chapter-footer- {
  font-family: "Droid Sans";
  font-size: 18px;
  color: #363C46;
  line-height: 35px;
  
}

span.sidebar-about-captions {
  font-family: "Droid Serif";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  font-variant: small-caps;
}

article#main {
  left: 293px;
  background-color: #F3F3F3;
  position:absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding-right: 15px;
}
span.sidebar-howto {
    font-family: "Droid Sans";
    font-weight: normal;
    font-style: italic;
    font-size: 17px;
    text-decoration: none;
    font-variant: normal;
    text-indent: 0em;
    text-align: left;
    color: #F3F3F3;
    letter-spacing: 2px;
}
.mozilla-logo {
  width: 200px;
  height: 148px;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#bg-canvas {
    position:fixed;
  background-image:url(images/index-bg.jpg);
  background-repeat: repeat-y;
  z-index: 1;
    top:0px;
    left:0px;
    width: 100%;
    height:100%;  
}

#bg-canvas img {
    position:fixed;
  background-image:url(images/index-bg.jpg);
  background-repeat: repeat-y;
  z-index: 1;
    top:0px;
    left:0px;
    width: 100%;
    height:100%;  
}

#bg {
        position:fixed;
    z-index: 5;
        top:0px;
        left:30%;
    margin: auto;
    width: auto;
    height: 100%;
}
#bg img {
        position:fixed;
    z-index: 5;
        top:0;
        left:0;
        right:30%;
    margin:auto;
        width:auto;
        height:100%;
}

.mozilla-tab {
  position: absolute;
  z-index: 4;
  padding-left: 40px;
  padding-bottom: 25px;
}

.next-page-button {
    position:fixed;
  right: 0px;
  padding-top: 45px;
  padding-right: 10px;
}

.next-page-button img {
  float: right;
  padding-right: 10px;
}

.next-page-button-text {
  font-family: "Droid Sans";
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  color: #d88f32;
  text-align: center;
  letter-spacing: 2px;
  line-height: 25px;
}

.next-page-button-text:active {
  color: #363C46;
}

.toc-next-page-button {
    position: fixed;
  z-index: 1;
  right: 100px;
  bottom: 70px;
}

#home-newsletter form {
background: #C8E0E8 url(/images/home/newsletter-bg.jpg) 0 0 no-repeat;
background-image: url(http://www-stage.mozilla.org/images/home/newsletter-bg.jpg);
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
background-attachment: initial;
background-position-x: 0px;
background-position-y: 0px;
background-origin: initial;
background-clip: initial;
background-color: #C8E0E8;
padding: 14px 14px 20px 14px;
padding-top: 14px;
padding-right: 14px;
padding-bottom: 20px;
padding-left: 14px;
-moz-border-radius: 7px;
}

form {
display: block;
margin-top: 0em;
}

.section-flag {
  font-family: "Droid Serif";
  font-weight: normal;
  font-style: normal;
  font-size: 9px;
  text-decoration: none;
  font-variant: normal;
  vertical-align: middle;
  color: #f3f3f3;
  display: block;
  background-image:url(images/how-to-flag.png);
  background-repeat: no-repeat;
  width: 51px;
  height: 15px;
  padding-left: 3px;
  padding-top: 2px;
}

.section-flag {
  font-family: "Droid Serif";
  font-weight: normal;
  font-style: normal;
  font-size: 9px;
  text-decoration: none;
  font-variant: normal;
  vertical-align: middle;
  color: #f3f3f3;
  display: inline;
  float: left;
  background-image:url(images/how-to-flag.png);
  background-repeat: no-repeat;
  width: 54px;
  height: 15px;
  padding-left: 3px;
  padding-top: 2px;
  margin-top: 2px;
}

.floating-header {
  display: inline;
  height: 15px;
  float:right;
  background: #E6E6E6;
  font-family: "Droid Serif";
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
  text-decoration: none;
  font-variant: small-caps;
  text-align: center;
  color: #363C46;
  padding: 4px 6px 0px 6px;
}

.how-to-bg {
  display: block;
  height: 100%;
  width: 100%;
  padding: 15px 0px 15px 0px;
  background-image:url(images/how-to-grid.png);
}
#how-to-buttons {
  display: block;
  height: 100%;
  width: 100%;
  padding: 15px 0px 15px 0px;
  background-image:url(images/how-to-grid.png);
}

.link-icon {
  display: block;
  float:right;
  height: 17px;
  width: 94px;
  background-image:url(images/link-icon.png);
  background-repeat: no-repeat;
}

span.link-icon {
  font-family: "Droid Sans";
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
  padding-top: 2px;
  color: #f3f3f3;
  letter-spacing: 2px;
}

/* feature button styleez */

.feature-box {
  display: block;
  width: auto;
  height: 103px;
  font-family: "Lato-Italic";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-align: left;
  color: #363C46;
}

.feature-title-box {
  display: block;
  width: auto;
  height: 35px;
  font-family: "Grace";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  text-align: left;
  line-height: 27px;
  color: #363C46;
  background-image:url(images/how-to-grid.png);
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 10px;
}

.feature-bottom-bar {
  display:block;
  height: 2px;
  width: auto;
  background-color: #d88f32;
}

.feature-flag {
  display: block;
  float: left;
  background-image: url(images/button-flag.png);
  background-repeat: no-repeat;
  height: 27px;
  width: 81px;
  font-family: "Droid Sans";
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #f3f3f3;
  padding-left: 8px;
}

#drumbeat-feature-image {
  display: block;
  position: relative;
  float: right;
  bottom: 64px;
  right: 5px;
}

#butter-feature-image {
  display: block;
  position: relative;
  float: right;
  bottom: 110px;
}

#arduino-feature-image {
  display: inline;
  position: relative;
  float: right;
  bottom: 82px;
  right: 23px;
}

#badges-feature-image {
  display: block;
  position: relative;
  float: right;
  bottom: 55px;
  right: 15px;
}

#feature-icon {
  display: block;
  position: relative;
  bottom: 5px;
  float: right;
}

span.link-icon:active {
  color: #363C46;
}

/* mad paragraph and span styleez */

      p.pull-quote {
          font-family: "Droid Serif Italic";
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          text-decoration: none;
          font-variant: normal;
          text-indent: 0em;
          text-align: left;
          color: #363c46;
          margin-left:15px;
          line-height: 20px;
      }
      p.forward-header {
          font-family: "Kreon-Bold";
          font-weight: normal;
          font-style: normal;
          font-size: 40px;
          text-decoration: none;
          font-variant: normal;
          text-indent: 0em;
          text-align: left;
          color: #363c46;
          margin-top: 15px;
          text-shadow: 0px 1px 0px #fff;
      }
      p.article-section-and-question {
          font-family: "Droid Serif";
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          text-decoration: none;
          font-variant: normal;
          text-indent: 0em;
          text-align: left;
          color: #353c46;
      }
      p.article-lead-para {
          font-family: "Lato-LightItalic";
          font-weight: normal;
          font-style: normal;
          font-size: 21px;
          text-decoration: none;
          font-variant: normal;
          text-indent: 0em;
          text-align: left;
          color: #363c46;
          line-height: 28px;
      }
      p.article-subheader {
          font-family: "Kreon-Bold";
          font-weight: normal;
          font-style: normal;
          font-size: 26px;
          text-decoration: none;
          font-variant: normal;
          text-indent: 0em;
          text-align: left;
          color: #363c46;
          margin: 0em;
          text-shadow: 0px 1px 0px #fff;
      }
      p.article-header {
          font-family: "Kreon-Bold";
          font-weight: normal;
          font-style: normal;
          font-size: 40px;
          text-decoration: none;
          font-variant: normal;
          text-indent: 0em;
          text-align: left;
          color: #363c46;
          line-height: 36px;
          margin-bottom: 0px;
          text-shadow: 0px 1px 0px #fff;
      }
      p.pump-quote-head {
          font-family: "Kreon-Bold";
          font-weight: normal;
          font-style: normal;
          font-size: 40px;
          text-decoration: none;
          font-variant: normal;
          text-indent: 0em;
          text-align: left;
          color: #363c46;
          text-shadow: 0px 1px 0px #fff;
      }
      p.pump-quote {
          font-family: "Kreon-Bold";
          font-weight: normal;
          font-style: normal;
          font-size: 20px;
          text-decoration: none;
          font-variant: normal;
          text-indent: 0em;
          text-align: left;
          color: #363c46;
          margin: 0em;
          line-height: 21px;
          text-shadow: 0px 1px 0px #fff;
      }
      p.pump-quote-list {
          font-family: "Kreon-Bold";
          font-weight: normal;
          font-style: normal;
          font-size: 22px;
          text-decoration: none;
          font-variant: normal;
          text-indent: 0em;
          text-align: left;
          color: #363c46;
          margin: 0em;
          line-height: 31px;
          letter-spacing: 2px;
        }
      p.comments-from-crowd {
        font-family: "Droid Serif Italic";
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        text-decoration: none;
        font-variant: normal;
        text-indent: 0em;
        text-align: left;
        color: #363c46;
        margin-left:15px;
        line-height: 20px;

      }
      p.notes {
          font-family: "Droid Serif";
          font-weight: normal;
          font-style: normal;
          font-size: 14px;
          text-decoration: none;
          font-variant: normal;
          text-indent: 0em;
          text-align: left;
          color: #363c46;
          margin: 0em;
      }
      p.definition {
          font-family: "Droid Serif";
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          text-decoration: none;
          font-variant: normal;
          text-indent: 0em;
          text-align: left;
          color: #363c46;
          margin-left: 25px;
          margin-bottom: 15px;

      }
      p.blue-hyperlink {
          font-family: "Droid Sans";
          font-weight: normal;
          font-style: normal;
          font-size: 14px;
          text-decoration: none;
          text-indent: 0em;
          text-align: left;
          color: #363c46;
          margin-bottom: 15px;
      }
      p.toc-title {
          font-family: "Droid Sans";
          font-weight: normal;
          font-style: normal;
          font-size: 27px;
          text-decoration: none;
          text-indent: 0em;
          text-align: left;
          color: #363c46;
          margin-bottom: 15px;
          margin-left: 25px;
          text-shadow: 0px 1px 0px #fff;
      }
      span.infographic-steps {
          font-family: "Grace";
          font-weight: normal;
          font-style: normal;
          font-size: 17px;
          letter-spacing: 1.5px;
      }
      span.fancy-pull-quote-words {
          font-family: "Grace";
          font-weight: normal;
          font-style: normal;
          font-size: 14px;
          letter-spacing: 1.5px;
          color: #363c46;
      }
      span.art-section-fancies {
          font-family: "Grace";
          font-weight: normal;
          font-style: normal;
          font-size: 17px;
          letter-spacing: 1.5px;
          color: #363c46;
      }
      span.mark-surman-fancies {
          font-family: "Grace";
          font-weight: normal;
          font-style: normal;
          font-size: 20px;
          letter-spacing: 1.5px;
          color: #363c46;
      }
      span.article-subhead {
          font-family: "Kreon-Bold";
          font-weight: normal;
          font-style: normal;
          font-size: 21px;
          letter-spacing: 1.5px;
          color: #363c46;
          text-shadow: 0px 1px 0px #fff;
      }
      span.session-header {
          color: #363c46;
          text-shadow: 0px 1px 0px #fff;
      }
      span.blue-note-links {
          font-family: "Droid Sans";
          font-weight: normal;
          font-style: normal;
          font-size: 14px;
          color: #363c46;
      }
      span.body-copy-note {
          font-family: "Droid Sans";
          font-weight: normal;
          font-style: normal;
          font-size: 14px;
          font-variant: small-caps;
          color: #363c46;
      }
/* new styles */
      p.profile-header {
          font-family: "Kreon";
          font-weight: normal;
          font-style: normal;
          font-size: 40px;
          text-decoration: none;
          font-variant: normal;
          text-align: left;
          color: #363C46;
          text-shadow: 0px 1px 0px #fff;
      }
      p.lead-para {
          font-family: "Lato-LightItalic";
          font-weight: normal;
          font-style: italic;
          font-size: 19px;
          text-decoration: none;
          font-variant: normal;
          text-align: left;
          color: #363C46;
      }
      p.toc-credits {
          font-family: "Lato-Light";
          font-weight: normal;
          font-style: normal;
          font-size: 15px;
          text-decoration: none;
          font-variant: normal;
          text-align: left;
          color: #363C46;
          margin-left: 25px;
      }
      p.profile-question {
          font-family: "Droid Serif";
          font-weight: normal;
          font-style: normal;
          font-size: 15px;
          line-height: 23px;
          text-decoration: none;
          font-variant: normal;
          text-align: left;
          color: #d88f32;
      }
      p.body-copy {
          font-family: "Droid Serif";
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          text-decoration: none;
          font-variant: normal;
          text-align: left;
          color: #363C46;
          line-height: 23px;
          
      }
      p.toc-footer {
          font-family: "Lato-Light";
          font-weight: normal;
          font-style: normal;
          font-size: 11px;
          text-decoration: none;
          font-variant: normal;
          text-align: left;
          color: #363C46;
          margin-left: 25px;
          
      }
      p.profile-answer {
          font-family: "Droid Serif";
          font-weight: normal;
          font-style: normal;
          font-size: 15px;
          line-height: 23px;
          text-decoration: none;
          font-variant: normal;
          margin-left: 60px;
          text-align: left;
          color: #363C46;
          
      }
      p.how-to-header {
          font-family: "Grace";
          font-weight: normal;
          font-style: normal;
          font-size: 35px;
          text-decoration: none;
          font-variant: normal;
          text-align: left;
          color: #363C46;
          text-shadow: 0px 1px 0px #fff;
      }
      p.how-to-banner {
          font-family: "Grace";
          font-weight: normal;
          font-style: normal;
          font-size: 35px;
          text-decoration: none;
          font-variant: normal;
          text-align: left;
          color: #363C46;
          text-shadow: 0px 1px 0px #fff;
      }
      p.how-to-banner :active {
          font-family: "Grace";
          font-weight: normal;
          font-style: normal;
          font-size: 35px;
          text-decoration: none;
          font-variant: normal;
          text-align: left;
          color: #d88f32;
          text-shadow: 0px 1px 0px #fff;
      }
      p.how-to-lead-para {
          font-family: "Kreon-Regular";
          font-size: 20px;
          text-align: left;
          color: #363C46;
          line-height: 24px;
      }
      p.make-sure-to {
          font-family: "Droid Sans";
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          text-decoration: none;
          font-variant: normal;
          text-align: left;
          color: #363C46;
      }
      p.how-to-details {
          font-family: "Droid Serif";
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          text-decoration: none;
          font-variant: normal;
          text-align: left;
          color: #363C46;
          margin: 0em;
      }
      p.how-to-body-copy {
          font-family: "Droid Serif";
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          text-decoration: none;
          font-variant: normal;
          text-indent: -19px;
          text-align: left;
          color: #363C46;
          margin: 0 0 0 120px;
      }
      span.header-text-yellow {
          color: #d88f32;
      }
      span.yellow-left-justified {
          color: #d88f32;
      }
      span.detail-script {
          font-family: "Covered By Your Grace";
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          color: #363C46;
      }
      
      
/* Lightbox */

#lightbox {
  position: absolute;
  z-index: 1000;
  background-color: rgba(0,0,0,0.3);
  padding: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#lightbox #content {
  width: 720px;
  margin: 20px 0 0 -360px; /* half the width */
  position: absolute;
  left: 50%;
  height: 90%;
  background-color: #EEE;
  overflow: hidden;
}

#lightbox iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#lightbox .close {
  position: absolute;
  top: -9px;
  right: 50%;
  margin-right: -392px;
  padding: 20px;
  z-index: 1001;
  cursor: pointer;
}

#side a.current:link span, #side a.current:visited span  {
  /* Currently selected section */
  color: #d88f32;
}

#side .scroller {
	overflow-x: hidden; /* Keep content from being left to right scrollable */
}

#fb-root iframe {
	border:none;
	overflow:hidden;
	width:195px;
	height:80px;
	margin-left: 40px;
}